<h3>編集する</h3>
<div id="mapragistration-edit"></div>

  <%= form_with(model: @seichi, local: true) do |form| %>

    <%= form.text_field :title, placeholder: "作品名" %>
    <%= form.text_area :introduction, placeholder: "場所の紹介" %>
    <%= form.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"seichi-category-edit"}) %>
    <%= form.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box", id:"seichi-prefecture-edit"}) %>
    <%= form.text_field :addresses, placeholder: "都道府県以下の住所"%>
    <%= form.hidden_field :latitude, id: "latitude-edit" %>
    <%= form.hidden_field :longitude, id: "longitude-edit" %>
    <%= form.file_field :image, id:"seichi-image-edit" %>
    <%= form.submit "SEND" %>
  <% end %>