<%= render "shared/header" %>

<h2  class="seichi-show-title">編集する</h2>

<div class="seichi-new-contents">
  <div class="seichi-new-content">
    <div class="map-text">地点修正する際は、再度地図上で場所をクリック！</div>

    <div id="mapragistration-edit"></div>
    <script async
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&libraries=places&callback=initMap">
    </script>
    <script>
      let editmap;
      let editmarkers = [];

      function initMap() {
          editmap = new google.maps.Map(document.getElementById("mapragistration-edit"), {
              center: { lat:  34.7024, lng: 135.4959 },
              zoom: 13,
          });

          // クリックしたときのイベントを追加
          editmap.addListener('click', function(event) {
              placeMarker(event.latLng);
          });
      }


      function placeMarker(location) {
          // 既存のマーカーを削除
          clearMarkers();

          // 新しいマーカーを作成
          const editmarker = new google.maps.Marker({
              position: location,
              map: editmap
          });

          // マーカーを配列に追加
          editmarkers.push(editmarker);

          document.getElementById('latitude-edit').value = location.lat();
          document.getElementById('longitude-edit').value = location.lng();

          // ここで座標をサーバーに送信するなどの処理を実行できます
      }

      function clearMarkers() {
          // 既存のマーカーを地図から削除
          editmarkers.forEach(editmarker => {
              editmarker.setMap(null);
          });

          // マーカー配列をクリア
          editmarkers = [];
      }

      document.addEventListener('DOMContentLoaded', initMap);      
    </script>

    
    <div class="seichi-new-forms">
      <%= form_with(model: @seichi, local: true) do |form| %>

      <%= render 'shared/error_messages', model: form.object %>

        <div class="new-form">
          <%= form.label :title, '作品名', class:"new-label" %>
          <%= form.text_field :title, placeholder: "作品名", class:"new-form" %>
        </div>
        <div class="new-form">
          <%= form.label :introduction, '場所の紹介', class:"new-label"%>
          <%= form.text_area :introduction, placeholder: "場所の紹介", class:"new-form" %>
        </div>
        <div class="new-form">
          <%= form.label :category_id, 'カテゴリー' , class:"new-label"%>
          <%= form.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box"}) %>
        </div>
        <div class="new-form">
          <%= form.label :prefecture_id, '都道府県', class:"new-label"%>
          <%= form.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box"}) %>
        </div>
        <div class="new-form">
          <%= form.label :addresses, '都道府県以下の住所', class:"new-label"%>
          <%= form.text_field :addresses, placeholder: "都道府県以下の住所", class:"new-form"%>
        </div>
        <%= form.hidden_field :latitude, id: "latitude-edit" %>
        <%= form.hidden_field :longitude, id: "longitude-edit" %>
        <div class="new-form-image">
          写真を変更する場合は再度選択： <%= form.file_field :image, id:"seichi-image-edit" %>
        </div>
        <div class="form-btn">
          <%= form.submit "投稿" , class:"submitbtn" %>
        </div>
      <% end %>
    </div>
    <div class="topbtns">
      <%= link_to "トップページへ", root_path , class:"topbtn"%> 
    </div>
  </div>
</div>
