<%= render "shared/header" %>
<div class="image-container">
  <%= image_tag "27059533_m.jpg" , class:"head-image"%>
  <div class="overlay-text">
    聖地<br>
    それは映画・小説・マンガ・アニメなどに縁の深い場所<br>
    日本中にある聖地を共有し、聖地巡礼制覇へ
  </div>
</div>
<div class="seichi-index-page">
  <div class="seichi-index-content">
    <div class="seichi-index-searchnew-bot">
      <div class="seichi-index-search">
        <%= search_form_for @q, url: search_seichis_path, html: {id: "detailed-search-form"} do |f| %>
          <div class="search-field">
            <%= f.label :title_cont, '作品名' %>
            <br>
            <%= f.text_field :title_cont, placeholder: '作品名' %>
          </div>
          <div class="search-field">
            <%= f.label :category_id_eq, 'カテゴリ' %>
            <br>
            <%= f.collection_select(:category_id_eq, Category.all, :id, :name, {include_blank: "---"}) %>
          </div>
          <div class="search-field">
            <%= f.label :prefecture_id_eq, '都道府県' %>
            <br>
            <%= f.collection_select(:prefecture_id_eq, Prefecture.all, :id, :name, {include_blank: "---"}) %>
          </div>
          <%= f.submit '検索' %>
        <% end %>
      </div>
      <div class="user-form">
        <% if user_signed_in? %>
          <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete }, class: "logout"  %>
          <%= link_to 'マイページ', user_path(current_user.id) %>
        <% else %>
          <%= link_to '新規登録', new_user_registration_path, class:"registration" %>
          <%= link_to 'ログイン', new_user_session_path, class:"login" %>
        <% end %>
      </div>
    </div>
    <div class="seichi-new-bot">
      <%= link_to '聖地を投稿する', new_seichi_path  %>
    </div>

    

    <h2 class="seichi-itiran">聖地一覧
    </h2>
    <div class="seichi-index">
      <ul class="seichi-lists">
        <% @seichis.each do | seichi | %>
          <li class="seichi-list">
            <%= link_to seichi_path(seichi.id) do %> 
              <div class="seichi-link-index">
                <%= seichi.title %>
                <div class="seichi-image-content">
                  <%= image_tag seichi.image, class: "seichi-img" %>
                </div>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>