<%= render "shared/header" %>

<%= link_to '聖地を投稿する', new_seichi_path, class:"seichi-new-bot"  %>

<div id="map"></div>
<script async
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&libraries=places&callback=initMap">
</script>
<%= javascript_include_tag 'maps' %>

<% @seichis.each do | seichi | %>
  <%= seichi.title %>
<% end %>