<div class="search-html">
  <div class="search-html-head">
    <%= search_form_for @q, url: search_seichis_path, html: {id: "detailed-search-form"} do |f| %>
      <div class="search-field">
        <%= f.label :title_cont, '作品名' %>
        <br>
        <%= f.text_field :title_cont, placeholder: '作品名' %>
      </div>
      <div class="search-field">
        <%= f.label :category_id_eq, 'カテゴリ' %>
        <br>
        <%= f.collection_select(:category_id_eq, Category.all, :id, :name, {include_blank: "---"}) %>
      </div>
      <div class="search-field">
        <%= f.label :prefecture_id_eq, '都道府県' %>
        <br>
        <%= f.collection_select(:prefecture_id_eq, Prefecture.all, :id, :name, {include_blank: "---"}) %>
      </div>
      <%= f.submit '検索' %>
    <% end %>
    <div class="to-top">
      <%= link_to "トップページへ戻る", root_path %> 
    </div>
  </div> 
  <h2 class="seichi-itiran">聖地一覧
  </h2>
  <div class="seichi-index">
    <ul class="seichi-lists">
      <% @seichis.each do | seichi | %>
        <li class="seichi-list">
          <%= link_to seichi_path(seichi.id) do %> 
            <div class="seichi-link-index">
              <%= seichi.title %>
              <div class="seichi-image-content">
                <%= image_tag seichi.image, class: "seichi-img" %>
              </div>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>