<%= render "shared/header" %>
<div class="mypage">
  <p><%= @nickname %>さんの投稿一覧</p>
  <% @seichis.each do |seichi| %>
    <%= link_to seichi.title, seichi_path(seichi.id) %>
  <% end %>
  <div class="favorite-mypage">
    <p class="myfavorite">お気に入り登録の一覧</p>
    <% @favorites.each do |favorite| %>
      <%= link_to favorite.seichi.title, seichi_path(favorite.seichi_id)  %>
    <% end %>
  </div>
  <div>
    <%= link_to 'トップページに戻る', root_path %>
    <%= link_to '設定', edit_user_registration_path %>
  </div>
</div>